<li id="{{id}}">
    <p><span contenteditable="true" id="setup-{{id}}">{{setup}}</span>... <span contenteditable="true" id="punchline-{{id}}">{{punchline}}</span></p>
    <button type="submit" onclick="jokeDelete(this.parentNode.id)">Delete</button>
    <button type="submit" onclick="jokeEdit(this.parentNode.id)">Edit</button>

    {{#each joke}}
        {{setup}} {{punchline}} {{id}}<br/>
    {{/each}}
</li>