<li id="{{id}}">
    <p><span contenteditable="true" id="setup-{{id}}">{{setup}}</span>... <span contenteditable="true" id="punchline-{{id}}">{{punchline}}</span></p>

    {{#each joke}}
        {{setup}} {{punchline}} {{id}}<br/>
    {{/each}}
</li>